
.card-main {
    grid-area: card-main;
    background-color: white;
    border-radius: 4px;
    box-shadow:rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    padding: 2rem;
}

.card-main:hover {
    box-shadow:rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.card-top {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: darkgreen;
    padding: 1rem 2rem 2rem 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 4px 4px 0px 0px;
}

.card-top:hover {
    cursor: pointer;
}

#currency-rate-display {
    font-size: 24px;
    color: white;
    text-align: center;
}

.card-bottom {
    display: block;
    color: darkgreen;
    padding: 2rem 2rem 1rem 2rem;
    font-weight: 600;
    border-radius: 0px 0px 4px 4px;
    border: 2px solid darkgreen;
}

.input-section {
    text-align-last: justify;
}

#converted-value-section {
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    justify-self: center;
    text-align: center;
}

/* desktop */
@media only screen and (min-width: 900px) {
    .card-container {
        display: grid;
        justify-items: stretch;
        align-items: stretch;
        grid-area: card-container;
        margin: 0 5% 0 5%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "card-main card-main card-main";
        gap: 3%;
    }
}

/* mobile */
@media only screen and (max-width: 899px) {
    .card-container {
        margin: 0 5% 0 5%;
    }

    .card-main {
        width: 80%;
        min-width: 270px;
        margin: auto auto 7% auto;
    }

}
