body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(244, 242, 242);
}

.main {
    margin: auto;
    max-width: 1200px;
}

.header {
    grid-area: header;
    margin-bottom: 2%;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(1, 28, 1);
    display: block;
    padding: 1rem 5% 0px 5%;
    text-align: center;
}

h4, h3 {
    color: white;
    text-align: center;
}

input {
    margin: 5px 0px 5px 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(1, 28, 1);
}

input:focus {
    margin: 5px 0px 5px 0px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 2px solid darkgreen;
}

input[type=submit] {
    font-size: 14px;
    background: none;
    border: none;
    color: green;
    cursor: pointer;
    padding: 0px 0px 10px 0px; 
}

input[type=submit]:hover, input[type=submit]:active {
    text-decoration: underline;
}

@media only screen and (min-width: 900px) {
    .content {
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "card-container";
        margin: auto;
        padding-top: 2%
    } 
}

@media only screen and (max-width: 899px) {
    .content {
        grid-template-columns: 1fr;
        margin: 0 5% 0 5%;
    }

    .h1 {
        font-size: 24px;
    }
}